
:root {
  font-family: "Roboto", "Segoe UI", "Roboto", Oxygen,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--background-color: #FFF;
	--pure-white: #ffffff;

	--primary-color: #5dacbd;
	--secondary-color: #a7bcb9;
	--tertiary-color: #e0ebeb;
	--accent-color: #24527a;

	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #2b2b2b;
	--green: #1f3d24;
}

body{
	background: linear-gradient(180deg, rgba(31,61,36,1) 0%, rgba(0,0,0,1) 100%);
	margin: 0;
}
